body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #1e3c72, #2a5298, #1e3c72);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h2, label {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease-in-out;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 25px;
    background: linear-gradient(45deg, #ff512f, #dd2476);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(255, 81, 47, 0.3);
}

button:hover {
    background: linear-gradient(45deg, #dd2476, #ff512f);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 81, 47, 0.5);
}

#clientesRegistrados {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
}

#listaClientes {
    list-style: none;
    padding: 0;
}

#listaClientes li {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listaClientes button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    margin-left: 10px;
}

#listaClientes button:hover {
    color: #ff512f;
}
